<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="./static/styles1.css">
     <link rel="stylesheet" href="./static/styles.css">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Better place</title>

  </head>
      <body>
         
          <header>
              <h1>Orientation in the environment</h1>
          </header>
           <body>
            <div class="center">
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
              <div class="wave"></div>
            </div>

        <main>
           
          <form class="input" id="voice-form" action="/get" method="GET">
<!--                <div class="field">-->
<!--                    <label for="speech">Type Something</label>-->
<!--                    <input type="text" name="speech" id="speech" required />-->
<!--                </div>-->
                <!-- <div class="field">
                    <label for="voices">Choose a Voice Assistant</label>
                      <select name="voices" id="voices">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                      </select>
                </div> -->
              <button>
                    Start
              </button>
          </form>
        </main>

        <footer>
            <p>
                Built by <a>ATARA</a>
            </p>
        </footer>

      </body>
</html>